.header {
  display: flex;
  height: 60px;
  width: 100%;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: black;
  color: white;
}
.header_logo {
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin: 1px 10px;
}
.header_menu {
  display: flex;
}
.header_menu:hover {
  color: rgb(206, 145, 33);
}
.header_search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
  margin: 0 30px 0 10px;
}
.header_searchInput {
  width: 100%;
  height: 20px;
  font-size: medium;
  margin-right: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.header_searchIcon {
  background-color: rgb(206, 145, 33);
  color: white;
  margin-left: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.header_searchIcon:hover {
  cursor: pointer;
  background-color: rgb(20, 107, 20);
}
.header_nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.header_optionLineOne {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_link {
  color: white;
  text-decoration: none;
}
.login_link:hover {
  color: rgb(206, 145, 33);
}
.signup_link {
  color: white;
  text-decoration: none;
}
.menu_link {
  color: white;
  text-decoration: none;
}
.header_logout_button {
  background-color: rgba(63, 245, 72, 0.575);
  width: 80px;
  height: 30px;
  font-weight: 600;
  color: white;
  border-radius: 10px;
  margin-left: 10px;
}
.header_logout_button:hover {
  background-color: rgb(204, 68, 68);
  font-weight: 300;
  cursor: pointer;
}
